<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      body {
        margin: auto;
      }
      .btn {
        text-align: center;
      }
      .btnType {
        border-color: #e8883c;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #0488ff;
        text-align: center;
        cursor: pointer;
        width: auto;
      }
      .teamBox {
        text-align: center;
        padding-bottom: 20px;
      }
      #accordion {
        text-align: center;
      }
      #accordion .ui-accordion-content {
      width: auto;
      background-color: gray;
      color: white;
      border-radius: 4px;
      border-color: black;
    }
    </style>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script>
      $(function() {
        $("#accordion").accordion({
          collapsible: true
        });
      });
    </script>
</head>

<body>
  <div id="accordion">
     <% var teamNumber = 0; %>
    <% for (var x in rows) {%>
      <% for (var y in rows[x]) { %>
        <div>
            <p>Team: <%- rows[x][y][0].team %> Cash: <%- rows[x][y][0].cash %></p>
        </div>
            <div class="teamBox">
              <% for (var z in rows[x][y]) { %>
                <p>
                    Name: <%- rows[x][y][z].name %> Years: <%- rows[x][y][z].years %> Salary: <%- rows[x][y][z].salary %> 

                </p>
                <% } %>
            </div>  
            <% } %>
    <%};%>

  </div>
<form action="/advanceyear" method="post">
  <input type="submit" value="Advance Year">
</form>

</body>
</html>